{% extends 'base.html' %}
{% block body %}
<h1>{{ actor.name }}</h1>
<p><a href="{% url 'actor-update' pk=actor.id %}">Edit</a></p>
<div class="mt-5">
  <h4>Actions</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Commitment</th>
        <th scope="col">Action Item</th>
        <th scope="col">Expected Date</th>
        <th scope="col">Completion Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for action in actor.action_set.all %}
      <tr class="bg-{{ action.get_status_color }} {{ action.get_text_color }}">
        <th scope="row"><a href="{{ action.commitment.get_absolute_url }}" class="{{ action.get_text_color }}">{{ action.commitment.name }}</a></th>
        <td>{{ action.name }}</td>
        <td>{{ action.expected_completion_date }}</td>
        <td>{{ action.completion_date }}</td>
        <td>{{ action.get_status_display }} {% if action.get_status %}({{ action.get_status|title }}){% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}