{% extends 'base.html' %}
{% block body %}
<h1>Actors</h1>
<p><a href="{% url 'action-export' %}">Export</a></p>
<div class="mt-5">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Responsible Action Items</th>
        <th scope="col">Ongoing</th>
        <th scope="col">Completed</th>
        <th scope="col">Overdue</th>
      </tr>
    </thead>
    <tbody>
      {% for actor in actor_list %}
      <tr>
        <th scope="row"><a href="{% url 'actor-detail' pk=actor.id %}" class="text-dark">{{ actor.name }}</a></th>
        <td class="text-dark">{{ actor.action_set.count }}</td>
        <td class="text-dark">{{ actor.get_completed_actions.count }}</td>
        <td class="text-dark">{{ actor.get_ongoing_actions.count }}</td>
        <td class="text-dark"{{ actor.get_overdue_actions }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}