{% extends 'base.html' %}
{% block body %}
<h1>Last Mile</h1>
<h2 class="text-lightgreen">{{ agreement.name }}</h2>
<div class="d-flex justify-content-around">
  {% for model, chart_dict in chart_data.items %}
  <div class="card w-25 mt-5 mx-2 py-3 px-4">
    <h5 class="text-uppercase text-dark font-weight-bold text-center">{{ model }}</h5>
    <div class="px-3 pt-2">
    {% for key, value in chart_dict.items %}
      <div class="d-flex pb-2 {% if key == 'overdue' %}text-danger{% endif %}"><span class="font-weight-bold pr-3 flex-grow-1">{{ value.0 }}:</span>{{ value.1.count }}</div>
    {% endfor %}
    </div>
    <div class="w-100" id="id_{{ model }}Chart"></div>
  </div>
  {% endfor %}
  <div class="card w-25 mt-5 mx-2 p-3">
    <h5 class="text-uppercase text-dark font-weight-bold text-center">Actors</h5>
    <div class="px-3 pt-2">
    {% for actor in agreement.actor_set.all %}
      <div class="d-flex pb-2"><span class="font-weight-bold pr-3 flex-grow-1">{{ actor }}</span></div>
      <ul>
        <li><a href="{% url 'action-list' agreement=agreement.slug %}?status=active&responsible_parties={{ actor.id }}"><span class="font-weight-bold">Pending/Active: </span>{{ actor.get_ongoing_actions.count }}</a></li>
        <li><a href="{% url 'action-list' agreement=agreement.slug %}?status=overdue&responsible_parties={{ actor.id }}"><span class="font-weight-bold">Overdue: </span>{{ actor.get_overdue_actions }}</a></li>
        <li><a href="{% url 'action-list' agreement=agreement.slug %}?status=complete&responsible_parties={{ actor.id }}"><span class="font-weight-bold">Completed: </span>{{ actor.get_completed_actions.count }}</a></li>
      </ul>
    {% endfor %}
    </div>
  </div>
  
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% for key, chart_dict in chart_data.items %}
<script>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Status', 'Number'],
      ['{{ chart_dict.pending.0 }}', {{ chart_dict.pending.1.count }}],
      ['{{ chart_dict.active.0 }}', {{ chart_dict.active.1.count }}],
      ['{{ chart_dict.overdue.0 }}', {{ chart_dict.overdue.1.count }}],
      ['{{ chart_dict.complete.0 }}', {{ chart_dict.complete.1.count }}],
      ['{{ chart_dict.failed.0 }}', {{ chart_dict.failed.1.count }}],
      ['{{ chart_dict.unknown.0 }}', {{ chart_dict.unknown.1.count }}],
    ]);

    var options = {
      colors: ['#bec3c7', '#42bb9a', '#F76C6C', '#2B7A78', '#F76C6C', '#17252A'],
      backgroundColor: '#DEF2F1',
      legend: 'none',
      chartArea: {
        left: 0,
        right: 0,
        width: '100%',
      },
      height: 250
    };

    var chart = new google.visualization.PieChart(document.getElementById('id_{{ key }}Chart'));

    chart.draw(data, options);
  }
</script>
{% endfor %}
{% endblock %}