{% extends 'base.html' %}
{% block body %}
<h1>Last Mile</h1>
<h2 class="text-lightgreen">{{ agreement.name }}</h2>
<div class="d-flex justify-content-around">
  <div class="card w-25 mt-5 mx-2 py-3 px-4">
    <h5 class="text-uppercase text-dark font-weight-bold text-center">Commitments</h5>
    <div class="px-3 pt-2">
    {% for key, value in agreement.get_commitment_dict.items %}
      <div class="d-flex pb-2"><span class="font-weight-bold pr-3 flex-grow-1">{{ key }}:</span>{{ value.count }}</div>
      {% if key == 'Active' %}
      <div class="d-flex pb-2 text-danger"><span class="font-weight-bold pl-3 flex-grow-1">Overdue:</span>{{ agreement.get_overdue_commitments.count }}</div>
      {% endif %}
    {% endfor %}
    </div>
    <div class="w-100" id="id_commitmentChart"></div>
  </div>
  <div class="card w-25 mt-5 mx-2 p-3">
    <h5 class="text-uppercase text-dark font-weight-bold text-center">Action Items</h5>
    <div class="px-3 pt-2">
    {% for key, value in agreement.get_action_dict.items %}
      <div class="d-flex pb-2"><span class="font-weight-bold pr-3 flex-grow-1">{{ key }}:</span>{{ value.count }}</div>
      {% if key == 'Active' %}
      <div class="d-flex pb-2 text-danger"><span class="font-weight-bold pl-3 flex-grow-1">Overdue:</span>{{ agreement.get_overdue_actions.count }}</div>
      {% endif %}
    {% endfor %}
    </div>
    <div id="id_actionChart"></div>
  </div>
  <div class="card w-25 mt-5 mx-2 p-3">
    <h5 class="text-uppercase text-dark font-weight-bold text-center">Actors</h5>
    <div class="px-3 pt-2">
    {% for actor in agreement.actor_set.all %}
      <div class="d-flex pb-2"><span class="font-weight-bold pr-3 flex-grow-1">{{ actor }}</span></div>
      <ul>
        <li><span class="font-weight-bold">Pending/Active: </span>{{ actor.get_ongoing_actions.count }}</li>
        <li><span class="font-weight-bold">Overdue: </span>{{ actor.get_overdue_actions }}</li>
        <li><span class="font-weight-bold">Completed: </span>{{ actor.get_completed_actions.count }}</li>
      </ul>
    {% endfor %}
    </div>
  </div>
  
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Status', 'Number'],
      {% for key, value in agreement.get_commitment_dict.items %}
      ['{{ key }}', {{ value.count }}],
      {% endfor %}
    ]);

    var options = {
      colors: ['#bec3c7', '#42bb9a', '#2B7A78', '#F76C6C', '#17252A'],
      backgroundColor: '#DEF2F1',
      legend: 'none',
      chartArea: {
        left: 0,
        right: 0,
        width: '100%',
      },
      height: 250
    };

    var chart = new google.visualization.PieChart(document.getElementById('id_commitmentChart'));

    chart.draw(data, options);
  }
</script>
<script>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Status', 'Number'],
      {% for key, value in agreement.get_action_dict.items %}
      ['{{ key }}', {{ value.count }}],
      {% endfor %}
    ]);

    var options = {
      colors: ['#bec3c7', '#42bb9a', '#2B7A78', '#F76C6C', '#17252A'],
      backgroundColor: '#DEF2F1',
      legend: 'none',
      height: 250
    };

    var chart = new google.visualization.PieChart(document.getElementById('id_actionChart'));

    chart.draw(data, options);
  }
</script>
{% endblock %}