{% extends 'base.html' %}
{% block body %}
<h1>Attachments</h1>
<div class="card p-4 mt-5">
    <div class="row">
        {% for attachment in attachment_list %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="card">
                    <a href="{{ attachment.get_absolute_url }}"><img class="img-fluid" src="{{ attachment.file.url }}"></a>
                    <div class="card-header">{{ attachment.name }}</div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}