{% extends 'base.html' %}
{% block body %}
<h1>Commitment List</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Commitment</th>
      <th scope="col">Category</th>
      <th scope="col">Target</th>
      <th scope="col">Current</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for commitment in commitment_list %}
    <tr>
      <th scope="row"><a href="{% url 'commitment-detail' pk=commitment.id %}">{{ commitment.name }}</a></th>
      <td><a href="{{ commitment.category.get_absolute_url }}">{{ commitment.category.name }}</a></td>
      <td>{{ commitment.target_number }}</td>
      <td>{{ commitment.achieved_number }}</td>
      <td title="{{ commitment.status_description }}">{{ commitment.get_status_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}