{% extends 'base.html' %}
{% block body %}
<div class="d-flex justify-content-between">
  <h1>Commitment List</h1>
  <h2><a href="{% url 'commitment-export' %}"><i class="fas fa-download pr-4"></i></a></h2>
</div>
<div class="card mt-5">
  <table class="table" data-sorting="true">
    <thead>
      <tr>
        <th scope="col">Commitment</th>
        <th scope="col">Category</th>
        <th scope="col">Target</th>
        <th scope="col">Current</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for commitment in commitment_list %}
      <tr class="bg-{{ commitment.get_status_color }} {{ commitment.get_text_color }}">
        <th scope="row"><a href="{% url 'commitment-detail' pk=commitment.id %}" class="{{ commitment.get_text_color }}">{{ commitment.name }}</a></th>
        <td><a href="{{ commitment.category.get_absolute_url }}" class="{{ commitment.get_text_color }}">{{ commitment.category.name }}</a></td>
        <td>{{ commitment.goal }}</td>
        <td>{{ commitment.progress_toward_goal }}</td>
        <td title="{{ commitment.status_description }}">{{ commitment.get_status_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}