{% extends 'base.html' %}
{% block body %}
<h1>Last Mile</h1>
<table class="table" data-sorting="true">
  <thead>
    <tr>
      <th scope="col">Commitment</th>
      <th scope="col">Target</th>
      <th scope="col">Current</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for commitment in commitment_list %}
    <tr class="bg-{{ commitment.get_status_color }} {{ commitment.get_text_color }}">
      <th scope="row"><a href="{% url 'commitment-detail' pk=commitment.id %}" class="{{ commitment.get_text_color }}">{{ commitment.name }}</a></th>
      <td>{{ commitment.target_number }}</td>
      <td>{{ commitment.achieved_number }}</td>
      <td>{{ commitment.get_status_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}