{% extends 'base.html' %}
{% block body %}
<h1>Last Mile</h1>

<h2 class="text-lightgreen">Agreements</h2>
<div class="card mt-5">
  <table class="table" data-sorting="true">
    <thead>
      <tr>
        <th scope="col">Agreement</th>
        <th class="text-center" scope="col">Commitments</th>
        <th class="text-center" scope="col">Parties</th>
        <th class="text-center" scope="col">Action Items</th>
        <th class="text-center" scope="col">Completed</th>
        <th class="text-center" scope="col">Active</th>
        <th class="text-center" scope="col">Overdue</th>
        <th class="text-center" scope="col">Not started</th>
      </tr>
    </thead>
    <tbody>
      {% for agreement in request.user.agreement_set.all %}
      <tr>
        <th scope="row"><a href="{{ agreement.get_absolute_url }}" class="pl-2">{{ agreement.name }}</a></th>
        <td class="text-center font-weight-bold"><a href="{% url 'commitment-list' agreement=agreement.slug %}">{{ agreement.commitment_set.count }}</a></td>
        <td class="text-center font-weight-bold"><a href="{% url 'actor-list' agreement=agreement.slug %}">{{ agreement.actor_set.count }}</a></td>
        <td class="text-center font-weight-bold"><a href="{% url 'action-list' agreement=agreement.slug %}">{{ agreement.get_action_items.count }}</a></td>
        <td class="text-center font-weight-bold"><a href="{% url 'action-list-by-status' status='complete' agreement=agreement.slug %}">{{ agreement.get_complete_actions.count }}</a></td>
        <td class="text-center font-weight-bold"><a href="{% url 'action-list-by-status' status='active' agreement=agreement.slug %}">{{ agreement.get_active_actions.count }}</td>
        <td class="text-center font-weight-bold"><a href="{% url 'action-list-by-status' status='overdue' agreement=agreement.slug %}" class="text-danger">{{ agreement.get_overdue_actions|length }}</td>
        <td class="text-center font-weight-bold"><a href="{% url 'action-list-by-status' status='pending' agreement=agreement.slug %}">{{ agreement.get_pending_actions.count }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}