{% load crispy_forms_tags %}

{% block body %}
<h5 class="w-50">Add Attachment</h5>
<form method="POST" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="attachment_name">Name</label>
      <input id="attachment_name" class="form-control" type="text" name="name">
    </div>
    <div class="form-group col-md-4">
      <label for="attachment_file">File</label>
      <div class="custom-file">
        <input id="attachment_file" class="custom-file-input" type="file" name="file">
        <label for="attachment_file" class="custom-file-label text-truncate">Choose File</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="attachment_description">Description</label>
      <textarea id="attachment_description" class="form-control" rows="2" name="description"></textarea>
    </div>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary px-4">
</form>
{% endblock %}

<script>
  $('#attachment_file').on('change',function(){
      //get the file name
      var fileString = $(this).val();
      fileName = fileString.replace("C:\\fakepath\\", "");
      //replace the "Choose a file" label
      $(this).next('.custom-file-label').html(fileName);
  })
</script>